:root {
    --azul-escuro: #002074;
    --azul-escuro2: #042e99;
    --azul-escuro3: #0534ac;
    --azul-intermediario: rgb(18, 18, 233);
    --azul-claro: rgb(39, 39, 243);
    --cor-texto: rgb(75, 73, 73);
    --cinza: rgb(235, 231, 231);
}

.form-login {
    max-width: 700px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid silver;
    padding: 20px;
    margin: 60px auto;
    box-shadow: 0 0 10px silver;
}

.form-login h1 {
    color: var(--azul-escuro);
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 8px 0;
}

.form-login form {
    flex-direction: column;
    gap: 20px;
}

.form-login form input {
    border: 1px solid silver;
    border-radius: 6px;
    height: 50px;
    color: var(--cor-texto);
    padding-left: 10px;
    outline: none;
}

.form-login form input[type=submit]{
    margin: 10px auto 10px auto;
    border: 2px solid var(--azul-escuro);
    outline: none;
    color: var(--azul-escuro);
    background-color: transparent;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease;
}
.form-login form input[type=submit]:hover {
    background-color: var(--azul-escuro);
    color: white;
}

.form-login form .esqueci-senha {
    text-align: center;
}

.form-login form .esqueci-senha a {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}